* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: calc(100vw - 270px);
    margin-left: 260px;
    border: 2px solid  white;
}

.wrapper form {
    margin: 70px auto;
    width: 600px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.wrapper form label {
    display: block;
}

.wrapper form label h3 {
    margin-bottom: 10px;
}

.password-cont, .submit-cont {
    width: 350px;
    margin: 20px auto;
    margin-top: 20px auto;
}

.password-cont input {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    font-size: var(--gf-size);
    border: 1px solid var(--main-color);
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

#submit {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: var(--gf-size);
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.error {
    color: red;
}

.text-error {
    color: red;
}

.input-error {
    border: 2px solid red;
}